<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URDF Practice</title>

    <!-- Javascript files needed for viewing robot model -->
    <script src="{{ url_for('static', filename='node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/three/build/three.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/three/examples/js/controls/OrbitControls.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/three/examples/js/loaders/GLTFLoader.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/three/examples/js/loaders/OBJLoader.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/three/examples/js/loaders/STLLoader.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/three/examples/js/loaders/ColladaLoader.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/threejs-model-loader/ModelLoader.js')}}"></script>

    <!-- scripts for loading urdf elements -->
    <script src="{{ url_for('static', filename='js/urdf-js/umd/URDFLoader.js')}}"></script>
    <script src="{{ url_for('static', filename='js/urdf-js/umd/urdf-viewer-element.js')}}"></script>
    <!-- globals URDFViewer  -->
    <script>customElements.define('urdf-viewer', URDFViewer)</script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />
  </head>

  <body>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">UR5 Robot</a>
    </nav>

    <div class="container">
      <button id="load-model" type="button" class="btn btn-outline-primary">Load Model</button>
      <urdf-viewer up="-Z" display-shadow tabindex="0"></urdf-viewer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- script to view robot model after clicking on link -->
    <script type="module" src="{{ url_for('static', filename='js/customjs/loadmodel.js')}}"></script>
  </body>
</html>
